*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    position: relative;
}

/* Page-container-start */
.page-container{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.page-container .page {
    padding: 10px 0px;
    display: none;
}
.page-container .page.page-active {
    display: block;
}
/* Page-container-end */
/* Responsive */
@media screen and (min-width:700px) {
    .page-container{
        height: 80vh;
    } 
}
